@using GMS2025.Models.ViewModels
@using Umbraco.Cms.Web.Common.PublishedModels

@inherits UmbracoViewPage<ErrorPageViewModel>

@{
	Layout = "root.cshtml";
}

<style>

    .error-container {
        text-align: center;
        padding-bottom: 3rem;
    }

    .error-code {
        font-size: 120px;
        font-weight: bold;
        color: #6c757d;
    }

    .error-message {
        font-size: 24px;
        color: #6c757d;
    }

    .home-link {
        margin-top: 20px;
    }
</style>


<div class="bg-body-tertiary error-container">
    @Html.Raw(Model.Content.ErrorMessage)
    @* <div class="error-code">404</div>
    <div class="error-message">Oops! Sidan du letar efter kunde inte hittas.</div>
    <a href="/" class="btn btn-secondary home-link">Tillbaka till startsidan</a> *@
</div>